

    <br/>    

<div class="container" style="padding: 60px 20px;">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="d-flex justify-content-center">
                <div class="card text-center" style="width: 18rem; border-color: #70d4d4;">
                    <div class="card-body" >
                      <h3 class="card-title" style="margin:0%; "><i class="bi bi-people" style="color: #70d4d4;"></i></h3>
                      <h3 class="card-text" style="margin:0%; color: black;">Usuarios</h3>
                          <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                      <a routerLink="/usuarios" class="btn btn-primary" style="background-color: #70d4d4; border: none;">Click</a>
                    </div>
                  </div>
            </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="d-flex justify-content-center">
                    <div id="card" class="card text-center" style="width: 18rem;border-color: #70d4d4;;">
                        <div class="card-body">
                            <h3 class="card-title" style="margin:0%"><i class="bi bi-speedometer" style="color: #70d4d4;"></i></h3>
                            <h3 class="card-text" style="margin:0%; color: black;">Vehiculos</h3>
                            <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                          <a routerLink="/vehiculos" class="btn btn-primary" style="background-color: #70d4d4; border: none;">Click</a>
                        </div>
                      </div>
                  </div>
                </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <div id="card" class="card text-center" style="width: 18rem; border-color: #70d4d4;;">
                        <div class="card-body">
                            <h3 class="card-title" style="margin:0%"><i class="bi bi-clipboard-check" style="color: #70d4d4;"></i></h3>
                            <h3 class="card-text" style="margin:0%; color: black;">Reportes</h3>
                          <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                          <a href="#" class="btn btn-primary" style="background-color: #70d4d4; border: none;">Click</a>
                        </div>
                      </div>
                </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <div class="d-flex justify-content-center">
                        <div id="card" class="card text-center" style="width: 18rem; border-color: #70d4d4;;">
                            <div class="card-body" >
                                <h3 class="card-title" style="margin:0%"><i class="bi bi-graph-up" style="color: #70d4d4;"></i></h3>
                                <h3 class="card-text" style="margin:0%; color: black;">Ventas</h3>
                              <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                              <a routerLink="/ventas" class="btn btn-primary" style="background-color: #70d4d4; border: none;">Click</a>
                            </div>
                          </div>
                      </div>
                    </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <div id="card" class="card text-center" style="width: 18rem; border-color: #70d4d4;;">
                        <div class="card-body" >
                            <h3 class="card-title" style="margin:0%"><i class="bi bi-pie-chart-fill" style="color: #70d4d4;"></i></h3>
                            <h3 class="card-text" style="margin:0%; color: black;">Estadisticas</h3>
                          <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                          <a class="btn btn-primary" style="background-color: #70d4d4; border: none;" routerLink="/estadisticas">Click</a>
                        </div>
                      </div>
                </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <div class="d-flex justify-content-center">
                        <div id="card" class="card text-center" style="width: 18rem; border-color: #70d4d4;;">
                            <div class="card-body" >
                                <h3 class="card-title" style="margin:0%"><i class="bi bi-cash-coin" style="color: #70d4d4;"></i></h3>
                                <h3 class="card-text" style="margin:0%; color: black;">Monetizacion</h3>
                              <p class="card-text" style="color: black;">With supporting text below as a natural lead-in to.</p>
                              <a href="#" class="btn btn-primary" style="background-color: #70d4d4; border: none;">Click</a>
                            </div>
                          </div>
                      </div>
                    </div>
        </div>

    </div>
