.card{
    display: inline-block;
}
.card-header{
    h5{
        background-color: #70d4d4 !important;
    }
    
}
.container{
    .cargando{
        background-color: #70d4d4;
        text-align: center;
        border-radius: 5px;
        font-size: 1.5em;
        color: white;
    
        
    }
}
img {
    width: 60%;
    height: 90%;
    
}

.active{
    border-color: red;
}
.hidden{
    border-color: gray;;
}
