<br/>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-6">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputText1">Nombre</label>
                            <input type="text" class="form-control" id="exampleInputText1" aria-describedby="nameHelp" placeholder="Nombre"
                            name="name" #name="ngModel" [(ngModel)]="usuarioModel.name">
                            <small id="nameHelp" class="form-text text-muted">coloca tu solo tu primer nombre.</small>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputText2">Telefono</label>
                            <input type="text" class="form-control" id="exampleInputText2" aria-describedby="telHelp" placeholder="Telefono"
                            name="phone_number" #phone_number="ngModel" [(ngModel)]="usuarioModel.phone_number" pattern="^[a-zA-Z0-9]{8}$">
                            <small id="telHelp" class="form-text text-muted">(502) - Guatemala.</small>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputText3">Identificacion</label>
                            <input type="text" class="form-control" id="exampleInputText3" aria-describedby="idHelp" placeholder="identificacion"
                            name="identification" #identification="ngModel" [(ngModel)]="usuarioModel.identification">
                            <small id="idHelp" class="form-text text-muted">Numero de Identificacion.</small>
                          </div>
                    </div>
                    <div class="col-md-6">
                      <label for="exampleInputSelect">Rol</label>
                      
                        <select class="form-select" id="exampleInputSelect" aria-label="Default select example" name="role_id" #role_id="ngModel" [(ngModel)]="usuarioModel.role_id" >
                          <option disabled>Elija una opcion</option>
                          <option value="3">3 | Comprador</option>
                          <option [hidden]="_registroService.getIdentidad() == null" value="3">3 | Vendedor</option>
                        </select>
                      
                      <!-- <div *ngIf="_registroService.getIdentidad().role.name === 'Administrador'">
                        <select class="form-select" id="exampleInputSelect" aria-label="Default select example" name="role_id" #role_id="ngModel" [(ngModel)]="usuarioModel.role_id" >
                          <option disabled>Elija una opcion</option>
                          <option value="3">Comprador</option>
                          <option value="2">Vendedor</option>
                        </select>
                      </div> -->
                    </div>
                </div>
                
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                        name="email" #email="ngModel" [(ngModel)]="usuarioModel.email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                  
                  
                  
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                  name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmacion Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="password_confirmation"
                    name="password_confirmation" #password_confirmation="ngModel" [(ngModel)]="usuarioModel.password_confirmation" [ngClass]="{'false': usuarioModel.password_confirmation != usuarioModel.password}">
                  </div>
              
                <button type="submit" class="btn btn-primary" (click)="registrar()">Registrarse</button>
              </form>

        </div>

    </div>

</div>
