

.active{
    background-color: white !important;
    color: black !important;
    border-radius: 5px;
    transition: all 0.8s;
    
}

nav ul li a i{
    bottom:  10px !important;

    
}
nav{
    background-color: #70d4d4 !important;
}