
<!-- ---- Navbar------------>
<!-- <nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" href="javascript:;">Predio Vehiculos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="token; else avaliable">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]= "['/home']" [routerLinkActive]="['active']" role="button">Panel de control</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      
      <ng-template #avaliable>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link"  [routerLink]= "['/home']" [routerLinkActive]="['active']" role="button">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']"> Registro<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">login</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Predio de vehiculos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!token; else avaliable">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" [routerLinkActive]="['active']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLinkActive]="['active']">Acerca de nosotros</a>
        </li>
      </ul>
        <ng-template #avaliable>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/home" [routerLinkActive]="['active']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLinkActive]="['active']">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLinkActive]="['active']">Panel de control</a>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administrador
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Acciones</a></li>
                  <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                  <li><a class="dropdown-item" href="#">logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
